<ion-slides
        [centeredSlides]="false"
        [slidesPerView]="1.25"
        [spaceBetween]="0"
        [initialSlide]="0"
        (ionSlideDidChange)="onSlideDidChange()"
        style="background-color: lightgray">
    <ion-slide style="width: 100px; background-color: lightgray" id="first">

    </ion-slide>
    <ion-slide style="background-color: lightgray;" *ngFor="let box of boxes">
        <evaluator-box [no]="box.no" (onStartRemove)="slides.lockSwipes(true)" (remove)="removeCurrent()"></evaluator-box>
    </ion-slide>
  <ion-slide style="background-color: lightgray">
  </ion-slide>
</ion-slides>