/** To disable everything being centered */
.swiper-slide {
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -webkit-box-pack: start;
  align-items: start;
  -webkit-align-items: flex-start;
}

/* To allow a slide to scroll vertically */
ion-slide,
.slide-zoom {
  overflow-y: scroll;
}

/* To center the multibox to the screen */
.swiper-container {
  padding-left: 140px;
}

.slide-content {
  margin-bottom: 30px;
}

.box {
  background-color: white;
  border: solid 1px black;
  width: 90%;
  margin-left: 5%;
  height: 1500px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.removing,
.box {
  margin-top: 75px;
}